extends layout/layout

block content
    .jumbotron
        .center
            h1 Welcome to TaxiDispatch
            h2.text-muted This small service was created as a test job on javascript, jade, node.js, mongodb, socket.io and much more
            a.btn.btn-lg.btn-primary(href='/register') Sign up now!